src/node-red/flows_Comport.json
[
    {
        "id": "839831c9.0e16f",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "53c40fbb.11787",
        "type": "subflow",
        "name": "Add sentiment analysis score to message content",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 44,
                "wires": [
                    {
                        "id": "43e1cebc.95dc2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 509,
                "y": 124,
                "wires": [
                    {
                        "id": "19433ae9.f39375",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "6fc1ec46.1e81a4",
        "type": "subflow",
        "name": "Send to botanist slack",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 68,
                "wires": [
                    {
                        "id": "dc43e28e.3ed5"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "2a05ff51.b0049",
        "type": "subflow",
        "name": "Receive from botanist slack",
        "info": "",
        "in": [],
        "out": [
            {
                "x": 258,
                "y": 347,
                "wires": [
                    {
                        "id": "c0780ff1.e91f6",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "3e816dab.6a0082",
        "type": "subflow",
        "name": "Check sentiment score",
        "info": "",
        "in": [
            {
                "x": 63,
                "y": 203,
                "wires": [
                    {
                        "id": "bb22e5c5.d077d8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 485,
                "y": 138,
                "wires": [
                    {
                        "id": "bb22e5c5.d077d8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 482,
                "y": 191,
                "wires": [
                    {
                        "id": "bb22e5c5.d077d8",
                        "port": 1
                    }
                ]
            },
            {
                "x": 486,
                "y": 241,
                "wires": [
                    {
                        "id": "bb22e5c5.d077d8",
                        "port": 2
                    }
                ]
            },
            {
                "x": 483,
                "y": 296,
                "wires": [
                    {
                        "id": "bb22e5c5.d077d8",
                        "port": 3
                    }
                ]
            }
        ]
    },
    {
        "id": "8ad0d4e9.a7ddc8",
        "type": "subflow",
        "name": "Extract session id from message",
        "info": "",
        "in": [
            {
                "x": 179,
                "y": 58,
                "wires": [
                    {
                        "id": "9c44fd9a.e22d3"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 965,
                "y": 183,
                "wires": [
                    {
                        "id": "837e26da.2a84a8",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "214d5703.b6e2a8",
        "type": "subflow",
        "name": "Handle static private flows",
        "info": "",
        "in": [
            {
                "x": 182,
                "y": 486,
                "wires": [
                    {
                        "id": "3310dab8.ea1be6"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 806.5,
                "y": 428,
                "wires": [
                    {
                        "id": "df088ac5.835f88",
                        "port": 0
                    }
                ]
            },
            {
                "x": 762,
                "y": 499,
                "wires": [
                    {
                        "id": "a1a74818.4465e8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 520,
                "y": 582,
                "wires": [
                    {
                        "id": "3310dab8.ea1be6",
                        "port": 2
                    }
                ]
            }
        ]
    },
    {
        "id": "31e670eb.7af0b",
        "type": "subflow",
        "name": "Start or join session",
        "info": "",
        "in": [
            {
                "x": 39.5,
                "y": 378,
                "wires": [
                    {
                        "id": "8c4caa59.ac2c88"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1069,
                "y": 429,
                "wires": [
                    {
                        "id": "8b8eb958.74eb48",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1066,
                "y": 779,
                "wires": [
                    {
                        "id": "6c2edf3a.8f34f",
                        "port": 1
                    }
                ]
            }
        ]
    },
    {
        "id": "94383a31.f15548",
        "type": "subflow",
        "name": "Handle message in session",
        "info": "",
        "in": [
            {
                "x": 96.25,
                "y": 80,
                "wires": [
                    {
                        "id": "75d09a3e.8dded4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1030.5,
                "y": 368,
                "wires": [
                    {
                        "id": "689d85f9.fbda4c",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "1e9d9b8e.dc0c14",
        "type": "subflow",
        "name": "Handle private message",
        "info": "",
        "in": [
            {
                "x": 211,
                "y": 380,
                "wires": [
                    {
                        "id": "110fa7df.137d08"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 982.5,
                "y": 570,
                "wires": [
                    {
                        "id": "627b6da7.b99df4",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "1b1db199.7f322e",
        "type": "subflow",
        "name": "Handle channel message",
        "info": "",
        "in": [
            {
                "x": 150,
                "y": 701,
                "wires": [
                    {
                        "id": "61532ed4.b8873"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 530,
                "y": 701,
                "wires": [
                    {
                        "id": "61532ed4.b8873",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "9aca48e.71e13b8",
        "type": "subflow",
        "name": "Set current session in database",
        "info": "",
        "in": [
            {
                "x": 532,
                "y": 290,
                "wires": [
                    {
                        "id": "e27104a6.4b90a8"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "dd865e38.929f2",
        "type": "subflow",
        "name": "Create new session in database",
        "info": "",
        "in": [
            {
                "x": 28,
                "y": 160,
                "wires": [
                    {
                        "id": "81ec731f.99"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "d1b9de09.ece51",
        "type": "chatbot-slack-node",
        "z": "",
        "botname": "botanist",
        "usernames": ""
    },
    {
        "id": "170ded6c.6bad73",
        "type": "mongodb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "under-the-wire",
        "name": "localhost under-the-wire"
    },
    {
        "id": "67461a8d.8f5d64",
        "type": "chatbot-slack-receive",
        "z": "2a05ff51.b0049",
        "bot": "d1b9de09.ece51",
        "x": 106,
        "y": 50,
        "wires": [
            [
                "c0780ff1.e91f6"
            ]
        ]
    },
    {
        "id": "7c815f24.718b",
        "type": "chatbot-slack-send",
        "z": "6fc1ec46.1e81a4",
        "bot": "d1b9de09.ece51",
        "x": 398,
        "y": 32,
        "wires": [
            []
        ]
    },
    {
        "id": "3310dab8.ea1be6",
        "type": "switch",
        "z": "214d5703.b6e2a8",
        "name": "Payload switch",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ping",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "help",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 3,
        "x": 342,
        "y": 486,
        "wires": [
            [
                "57943558.e5b10c"
            ],
            [
                "a1a74818.4465e8"
            ],
            []
        ]
    },
    {
        "id": "df088ac5.835f88",
        "type": "chatbot-message",
        "z": "214d5703.b6e2a8",
        "name": "pong",
        "message": "pong",
        "answer": false,
        "track": false,
        "parse_mode": "",
        "x": 676.5,
        "y": 428,
        "wires": [
            []
        ]
    },
    {
        "id": "6473ca63.c560f4",
        "type": "debug",
        "z": "2a05ff51.b0049",
        "name": "Receiver debug",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 309.5,
        "y": 175,
        "wires": []
    },
    {
        "id": "a75ff5a2.eb8d78",
        "type": "debug",
        "z": "6fc1ec46.1e81a4",
        "name": "Sender debug",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 408.5,
        "y": 98,
        "wires": []
    },
    {
        "id": "ee87fccb.fcb2f",
        "type": "function",
        "z": "94383a31.f15548",
        "name": "Function setting payload",
        "func": "msg.payload.content = 'You said in private: ' + msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640.5,
        "y": 342,
        "wires": [
            [
                "689d85f9.fbda4c"
            ]
        ]
    },
    {
        "id": "57943558.e5b10c",
        "type": "delay",
        "z": "214d5703.b6e2a8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 548.5,
        "y": 426,
        "wires": [
            [
                "df088ac5.835f88"
            ]
        ]
    },
    {
        "id": "b942b4b4.8a7988",
        "type": "chatbot-waiting",
        "z": "1e9d9b8e.dc0c14",
        "waitingType": "typing",
        "x": 668.5,
        "y": 374,
        "wires": [
            [
                "627b6da7.b99df4"
            ]
        ]
    },
    {
        "id": "b35be900.4b04b8",
        "type": "mongodb out",
        "z": "2a05ff51.b0049",
        "mongodb": "170ded6c.6bad73",
        "name": "",
        "collection": "incoming-slack",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 382.5,
        "y": 114,
        "wires": []
    },
    {
        "id": "f97a881b.ea56e8",
        "type": "mongodb out",
        "z": "6fc1ec46.1e81a4",
        "mongodb": "170ded6c.6bad73",
        "name": "",
        "collection": "outgoing-slack",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 386,
        "y": 152,
        "wires": []
    },
    {
        "id": "627b6da7.b99df4",
        "type": "switch",
        "z": "1e9d9b8e.dc0c14",
        "name": "no-op",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 852.5,
        "y": 570,
        "wires": [
            []
        ]
    },
    {
        "id": "c0780ff1.e91f6",
        "type": "switch",
        "z": "2a05ff51.b0049",
        "name": "no-op",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 131,
        "y": 175,
        "wires": [
            [
                "b35be900.4b04b8",
                "6473ca63.c560f4"
            ]
        ]
    },
    {
        "id": "b0f29052.741a4",
        "type": "switch",
        "z": "839831c9.0e16f",
        "name": "Message type split",
        "property": "payload.chatId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^D",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^C",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 337,
        "y": 597,
        "wires": [
            [
                "3306d88b.2a0118"
            ],
            [
                "b1b75e8f.ad885"
            ]
        ]
    },
    {
        "id": "61532ed4.b8873",
        "type": "function",
        "z": "1b1db199.7f322e",
        "name": "Function setting payload",
        "func": "msg.payload.content = 'You told the channel: ' + msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 701,
        "wires": [
            []
        ]
    },
    {
        "id": "dc43e28e.3ed5",
        "type": "switch",
        "z": "6fc1ec46.1e81a4",
        "name": "no-op",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 180,
        "y": 68,
        "wires": [
            [
                "7c815f24.718b",
                "a75ff5a2.eb8d78",
                "f97a881b.ea56e8"
            ]
        ]
    },
    {
        "id": "be03de71.20fba",
        "type": "sentiment",
        "z": "53c40fbb.11787",
        "name": "",
        "x": 202.5,
        "y": 82,
        "wires": [
            [
                "19433ae9.f39375"
            ]
        ]
    },
    {
        "id": "43e1cebc.95dc2",
        "type": "function",
        "z": "53c40fbb.11787",
        "name": "Modify payload for sentiment analysis",
        "func": "msg.originalPayload = msg.payload;\n\nmsg.payload = msg.payload.content;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 44,
        "wires": [
            [
                "be03de71.20fba"
            ]
        ]
    },
    {
        "id": "19433ae9.f39375",
        "type": "function",
        "z": "53c40fbb.11787",
        "name": "Modify payload for sentiment analysis",
        "func": "msg.payload = msg.originalPayload;\n\ndelete msg.originalPayload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 279,
        "y": 124,
        "wires": [
            []
        ]
    },
    {
        "id": "bb22e5c5.d077d8",
        "type": "switch",
        "z": "3e816dab.6a0082",
        "name": "Check sentiment score",
        "property": "sentiment.score",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 259.5,
        "y": 216,
        "wires": [
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "9cedadf4.99164",
        "type": "chatbot-message",
        "z": "94383a31.f15548",
        "name": "Bad sentiment",
        "message": "Hmm, this message sounds like you might be upset. I suggest rephrasing and trying again.",
        "answer": false,
        "track": false,
        "parse_mode": "",
        "x": 610.5,
        "y": 417,
        "wires": [
            [
                "689d85f9.fbda4c"
            ]
        ]
    },
    {
        "id": "53ef11ba.fdb5f",
        "type": "chatbot-message",
        "z": "94383a31.f15548",
        "name": "Debug sentiment score",
        "message": "Sentiment score: {{sentiment.score}}",
        "answer": false,
        "track": false,
        "parse_mode": "",
        "x": 643.5,
        "y": 269,
        "wires": [
            [
                "689d85f9.fbda4c"
            ]
        ]
    },
    {
        "id": "110fa7df.137d08",
        "type": "switch",
        "z": "1e9d9b8e.dc0c14",
        "name": "no-op",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 341,
        "y": 380,
        "wires": [
            [
                "b942b4b4.8a7988",
                "1282b29d.bd3c6d"
            ]
        ]
    },
    {
        "id": "75d09a3e.8dded4",
        "type": "subflow:53c40fbb.11787",
        "z": "94383a31.f15548",
        "x": 229.25,
        "y": 186,
        "wires": [
            [
                "44d97ddb.52eb24",
                "53ef11ba.fdb5f"
            ]
        ]
    },
    {
        "id": "6308aff8.006f9",
        "type": "subflow:6fc1ec46.1e81a4",
        "z": "839831c9.0e16f",
        "name": "",
        "x": 1042.25,
        "y": 470,
        "wires": []
    },
    {
        "id": "c34f0167.1403a",
        "type": "subflow:2a05ff51.b0049",
        "z": "839831c9.0e16f",
        "name": "",
        "x": 134,
        "y": 469.5,
        "wires": [
            [
                "b0f29052.741a4"
            ]
        ]
    },
    {
        "id": "44d97ddb.52eb24",
        "type": "subflow:3e816dab.6a0082",
        "z": "94383a31.f15548",
        "name": "",
        "x": 194.5,
        "y": 399,
        "wires": [
            [
                "ee87fccb.fcb2f"
            ],
            [
                "ee87fccb.fcb2f"
            ],
            [
                "9cedadf4.99164"
            ],
            []
        ]
    },
    {
        "id": "8c4caa59.ac2c88",
        "type": "chatbot-listen",
        "z": "31e670eb.7af0b",
        "name": "start session",
        "sentences": [
            "start,session"
        ],
        "x": 189.5,
        "y": 378,
        "wires": [
            [
                "defc6f37.ecfd7"
            ],
            [
                "f1a934ca.884618"
            ]
        ]
    },
    {
        "id": "f1a934ca.884618",
        "type": "chatbot-listen",
        "z": "31e670eb.7af0b",
        "name": "join session",
        "sentences": [
            "join,session"
        ],
        "x": 188,
        "y": 427,
        "wires": [
            [
                "85c5e1e0.c5844"
            ],
            [
                "6c2edf3a.8f34f"
            ]
        ]
    },
    {
        "id": "f75ac520.cc6348",
        "type": "chatbot-message",
        "z": "31e670eb.7af0b",
        "name": "Starting session",
        "message": "Starting a session with the id {{sessionId}}",
        "answer": false,
        "track": false,
        "parse_mode": "",
        "x": 731,
        "y": 375,
        "wires": [
            [
                "8b8eb958.74eb48"
            ]
        ]
    },
    {
        "id": "e1d853b0.1099e",
        "type": "chatbot-message",
        "z": "31e670eb.7af0b",
        "name": "Joining session",
        "message": "Joining a session with the id {{sessionId}}",
        "answer": false,
        "track": false,
        "parse_mode": "",
        "x": 737,
        "y": 426,
        "wires": [
            [
                "8b8eb958.74eb48"
            ]
        ]
    },
    {
        "id": "baaa9756.5dc538",
        "type": "switch",
        "z": "839831c9.0e16f",
        "name": "disabled",
        "property": "payload",
        "propertyType": "msg",
        "rules": [],
        "checkall": "true",
        "outputs": 0,
        "x": 854,
        "y": 647,
        "wires": []
    },
    {
        "id": "a1a74818.4465e8",
        "type": "chatbot-message",
        "z": "214d5703.b6e2a8",
        "name": "help",
        "message": "I know these things, more or less:\n1. help\n2. ping\n3. start session <id>\n4. join session <id>\n5. leave session",
        "answer": false,
        "track": false,
        "parse_mode": "",
        "x": 662,
        "y": 495,
        "wires": [
            []
        ]
    },
    {
        "id": "c4a4faff.4bcd18",
        "type": "chatbot-message",
        "z": "31e670eb.7af0b",
        "name": "Debug session id",
        "message": "Session ID: {{sessionId}}",
        "answer": false,
        "track": false,
        "parse_mode": "",
        "x": 940.5,
        "y": 222,
        "wires": [
            [
                "8b8eb958.74eb48"
            ]
        ]
    },
    {
        "id": "692cec24.8f25b4",
        "type": "split",
        "z": "8ad0d4e9.a7ddc8",
        "name": "",
        "splt": " ",
        "x": 817.5,
        "y": 55,
        "wires": [
            [
                "eebf8e4d.b8c16"
            ]
        ]
    },
    {
        "id": "5bc864ec.d0bfcc",
        "type": "change",
        "z": "8ad0d4e9.a7ddc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 596,
        "y": 60,
        "wires": [
            [
                "692cec24.8f25b4"
            ]
        ]
    },
    {
        "id": "9c44fd9a.e22d3",
        "type": "change",
        "z": "8ad0d4e9.a7ddc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payloadOriginal",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 365.5,
        "y": 51,
        "wires": [
            [
                "5bc864ec.d0bfcc"
            ]
        ]
    },
    {
        "id": "837e26da.2a84a8",
        "type": "change",
        "z": "8ad0d4e9.a7ddc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payloadOriginal",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 792,
        "y": 187,
        "wires": [
            []
        ]
    },
    {
        "id": "eebf8e4d.b8c16",
        "type": "switch",
        "z": "8ad0d4e9.a7ddc8",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "outputs": 1,
        "x": 367.5,
        "y": 199,
        "wires": [
            [
                "2c198b1d.9355a4"
            ]
        ]
    },
    {
        "id": "2c198b1d.9355a4",
        "type": "change",
        "z": "8ad0d4e9.a7ddc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sessionId",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 566.5,
        "y": 192,
        "wires": [
            [
                "837e26da.2a84a8"
            ]
        ]
    },
    {
        "id": "defc6f37.ecfd7",
        "type": "subflow:8ad0d4e9.a7ddc8",
        "z": "31e670eb.7af0b",
        "x": 455.5,
        "y": 381,
        "wires": [
            [
                "f75ac520.cc6348",
                "6db38031.b19e9",
                "fbe6c3d9.a817d",
                "8c1b4a5c.cb7ca8"
            ]
        ]
    },
    {
        "id": "85c5e1e0.c5844",
        "type": "subflow:8ad0d4e9.a7ddc8",
        "z": "31e670eb.7af0b",
        "x": 436,
        "y": 426,
        "wires": [
            [
                "e1d853b0.1099e",
                "6db38031.b19e9",
                "fbe6c3d9.a817d"
            ]
        ]
    },
    {
        "id": "6db38031.b19e9",
        "type": "switch",
        "z": "31e670eb.7af0b",
        "name": "no-op",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 760,
        "y": 231,
        "wires": [
            [
                "c4a4faff.4bcd18"
            ]
        ]
    },
    {
        "id": "1282b29d.bd3c6d",
        "type": "subflow:214d5703.b6e2a8",
        "z": "1e9d9b8e.dc0c14",
        "x": 509.25,
        "y": 460.5,
        "wires": [
            [
                "627b6da7.b99df4"
            ],
            [
                "627b6da7.b99df4"
            ],
            [
                "90467e9c.952a8"
            ]
        ]
    },
    {
        "id": "90467e9c.952a8",
        "type": "subflow:31e670eb.7af0b",
        "z": "1e9d9b8e.dc0c14",
        "x": 503.75,
        "y": 604.5,
        "wires": [
            [
                "627b6da7.b99df4"
            ],
            [
                "125e1303.26a87d"
            ]
        ]
    },
    {
        "id": "8b8eb958.74eb48",
        "type": "switch",
        "z": "31e670eb.7af0b",
        "name": "no-op",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 925,
        "y": 428,
        "wires": [
            []
        ]
    },
    {
        "id": "125e1303.26a87d",
        "type": "subflow:94383a31.f15548",
        "z": "1e9d9b8e.dc0c14",
        "x": 524,
        "y": 745.5,
        "wires": [
            [
                "627b6da7.b99df4"
            ]
        ]
    },
    {
        "id": "689d85f9.fbda4c",
        "type": "switch",
        "z": "94383a31.f15548",
        "name": "no-op",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 870,
        "y": 362,
        "wires": [
            []
        ]
    },
    {
        "id": "3306d88b.2a0118",
        "type": "subflow:1e9d9b8e.dc0c14",
        "z": "839831c9.0e16f",
        "x": 596.75,
        "y": 559.75,
        "wires": [
            [
                "6308aff8.006f9"
            ]
        ]
    },
    {
        "id": "b1b75e8f.ad885",
        "type": "subflow:1b1db199.7f322e",
        "z": "839831c9.0e16f",
        "x": 600,
        "y": 646,
        "wires": [
            [
                "baaa9756.5dc538"
            ]
        ]
    },
    {
        "id": "1e96fb73.5b7e15",
        "type": "mongodb out",
        "z": "dd865e38.929f2",
        "mongodb": "170ded6c.6bad73",
        "name": "",
        "collection": "sessions",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1006.5,
        "y": 38,
        "wires": []
    },
    {
        "id": "7cf9343a.6851ec",
        "type": "change",
        "z": "dd865e38.929f2",
        "name": "Only chatId",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420.5,
        "y": 42,
        "wires": [
            [
                "91b7dfcd.a838a"
            ]
        ]
    },
    {
        "id": "1f341bb9.7277f4",
        "type": "mongodb out",
        "z": "9aca48e.71e13b8",
        "mongodb": "170ded6c.6bad73",
        "name": "",
        "collection": "current-session",
        "payonly": true,
        "upsert": true,
        "multi": false,
        "operation": "store",
        "x": 933,
        "y": 220,
        "wires": []
    },
    {
        "id": "91b7dfcd.a838a",
        "type": "change",
        "z": "dd865e38.929f2",
        "name": "Use sessionId as _id",
        "rules": [
            {
                "t": "set",
                "p": "_id",
                "pt": "msg",
                "to": "sessionId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 683,
        "y": 42,
        "wires": [
            [
                "1e96fb73.5b7e15"
            ]
        ]
    },
    {
        "id": "b3e42f88.5dee7",
        "type": "change",
        "z": "9aca48e.71e13b8",
        "name": "Use chatId as _id",
        "rules": [
            {
                "t": "set",
                "p": "_id",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 745,
        "y": 116,
        "wires": [
            [
                "1f341bb9.7277f4"
            ]
        ]
    },
    {
        "id": "c5b6f8c8.6794f8",
        "type": "change",
        "z": "9aca48e.71e13b8",
        "name": "Only sessionId",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sessionId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 529,
        "y": 120,
        "wires": [
            [
                "b3e42f88.5dee7"
            ]
        ]
    },
    {
        "id": "12419a06.d62616",
        "type": "change",
        "z": "9aca48e.71e13b8",
        "name": "Save chatId",
        "rules": [
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 537,
        "y": 201,
        "wires": [
            [
                "c5b6f8c8.6794f8"
            ]
        ]
    },
    {
        "id": "e27104a6.4b90a8",
        "type": "switch",
        "z": "9aca48e.71e13b8",
        "name": "no-op",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 662,
        "y": 290,
        "wires": [
            [
                "12419a06.d62616"
            ]
        ]
    },
    {
        "id": "81ec731f.99",
        "type": "switch",
        "z": "dd865e38.929f2",
        "name": "no-op",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 158,
        "y": 160,
        "wires": [
            [
                "e7610167.fd672"
            ]
        ]
    },
    {
        "id": "e7610167.fd672",
        "type": "change",
        "z": "dd865e38.929f2",
        "name": "Save chatId",
        "rules": [
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 202,
        "y": 49,
        "wires": [
            [
                "7cf9343a.6851ec"
            ]
        ]
    },
    {
        "id": "6c2edf3a.8f34f",
        "type": "chatbot-listen",
        "z": "31e670eb.7af0b",
        "name": "leave session",
        "sentences": [
            "leave,session"
        ],
        "x": 198,
        "y": 477,
        "wires": [
            [
                "fbe6c3d9.a817d",
                "7ff0d61b.5b92a8"
            ],
            []
        ]
    },
    {
        "id": "fbe6c3d9.a817d",
        "type": "subflow:9aca48e.71e13b8",
        "z": "31e670eb.7af0b",
        "x": 787,
        "y": 61,
        "wires": []
    },
    {
        "id": "8c1b4a5c.cb7ca8",
        "type": "subflow:dd865e38.929f2",
        "z": "31e670eb.7af0b",
        "name": "",
        "x": 212.25,
        "y": 30,
        "wires": []
    },
    {
        "id": "7ff0d61b.5b92a8",
        "type": "chatbot-message",
        "z": "31e670eb.7af0b",
        "name": "Left session",
        "message": "You left the session",
        "answer": false,
        "track": false,
        "parse_mode": "",
        "x": 726,
        "y": 471,
        "wires": [
            [
                "8b8eb958.74eb48"
            ]
        ]
    }
]